div.tag-1 {
    display: none;
}

#wall div.tag-1+div#tag-2 {
    display: none;
}

#wall div.tag-1+div#tag-2+div#tag-3 {
    display: none;
}    

#wall .parent #tag-4 {
    display: none;
}

div#wall div.parent #tag-5.slick
{
    display: none;
}

div.tag-6 {
    display: none;
}

#wall div.tag-6 {
    display: none;
}